NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_GEMINI_API_KEY=
UPLOADTHING_TOKEN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_VIETTEL_POST_URL=
NEXT_PUBLIC_VIETTEL_POST_USERNAME=
NEXT_PUBLIC_VIETTEL_POST_PASSWORD=
NEXT_PUBLIC_VIETTEL_POST_SENDER_DISTRICT=
NEXT_PUBLIC_VIETTEL_POST_SENDER_PROVINCE=
NEXT_PUBLIC_VIETTEL_POST_SENDER_WARD=